/* ie 8 hacks */

/*
ul.giving-group-row {
  clear: both;
  float: none;
  display: block;
  width: 920px;
  min-height: 270px;
}

.giving-page ul.giving-group {
  border-bottom:none;
  border-left: none;
  border-right: none;
  border-top: none;
}

*/

